REACT_APP_FHEVM_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000\nREACT_APP_SEPOLIA_RPC_URL=https://rpc.sepolia.org\nREACT_APP_CHAIN_ID=11155111\nREACT_APP_RELAYER_URL=https://relayer.testnet.zama.cloud\nREACT_APP_BACKEND_API_URL=/api\nREACT_APP_ETHERSCAN_API_KEY=your_etherscan_api_key\n
