# Server env\nPORT=4009\nREACT_APP_SEPOLIA_RPC_URL=https://rpc.sepolia.org\nREACT_APP_ETHERSCAN_API_KEY=your_etherscan_api_key\nREACT_APP_RELAYER_URL=https://relayer.testnet.zama.cloud\nREACT_APP_DECRYPTION_ADDRESS=0x0000000000000000000000000000000000000000\nREACT_APP_FHEVM_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000\nREPORT_USER_PRIVATE_KEY=\nORACLE_PRIVATE_KEY=0x...

